/* key frames for card 1 */
@keyframes blob1{
    from{
      transform:scale(1) translate(0,50px);
    }
    
    to{
      transform:scale(.95) translate(410px,-10px);
    }
  }
@keyframes blob2{
    from{
      transform:scale(1) translate(0,-50px);
    }
    
    to{
      transform:scale(.95) translate(410px,30px);
    }
  }


/* key  frames for card2 */
@keyframes blob3{
    0%{
        transform:scale(1) translate(-250px,140px);
      }
      30%{
        transform:scale(.95) translate(-80px,140px);
      }
      50%{
          transform:scale(.95) translate(15px,60px);
      }
      60%{
        transform:scale(.95) translate(5px,65px);
    }
      70%{
          transform:scale(.85) translate(50px,40px);
      }
      100%{
          transform:scale(.80) translate(300px,0px);
      } 
}
@keyframes blob4{
    0%{
      transform:scale(1) translate(-250px,80px);
    }
    30%{
        transform:scale(.95) translate(-80px,80px);
    }
    50%{
        transform:scale(.95) translate(15px,80px);
    }
    60%{
        transform:scale(.95) translate(5px,80px);
    }
    70%{
        transform:scale(.85) translate(50px,190px);
    }
    100%{
        transform:scale(.75) translate(300px,240px);
    }
}
@keyframes blob5{
    0%{
        transform:scale(1) translate(-250px,-70px);
      }
      30%{
        transform:scale(.95) translate(-80px,-70px);
      }
      50%{
          transform:scale(.95) translate(15px,-150px);
      }
      60%{
        transform:scale(.95) translate(5px,-140px);
    }
      70%{
          transform:scale(.85) translate(50px,-150px);
      }
      100%{
          transform:scale(.80) translate(300px,-140px);
      } 
}
@keyframes blob6{
    0%{
        transform:scale(1) translate(-250px,-130px);
      }
      30%{
          transform:scale(.95) translate(-80px,-130px);
      }
      50%{
          transform:scale(.95) translate(15px,-130px);
      }
    60%{
        transform:scale(.95) translate(5px,-120px);
    }
    70%{
        transform:scale(.85) translate(50px,-120px);
    }
    100%{
        transform:scale(.75) translate(300px,-115px);
    }
}



/* key frames for card 3 */
@keyframes blob7{
    0%{
        transform:scale(.75) translate(-1500px,0px);
    }
    80%{
    transform:scale(.75) translate(-150px,50px);
    }
    100%{
    transform:scale(.75) translate(0px,00px);
    }

}
@keyframes blob8{
    0%{
        transform:scale(.75) translate(-1500px,0px);
    }
    80%{
    transform:scale(.75) translate(-150px,-20px);
    }
    100%{
        transform:scale(.75) translate(0px,00px);
        }
    
}
@keyframes blob9{
    0%{
        transform:scale(.75) translate(-1500px,0px);
    }
    80%{
    transform:scale(.75) translate(-150px,0px);
    }
    100%{
        transform:scale(.75) translate(0px,00px);
        }
    
}
@keyframes blob10{
    0%{
        transform:scale(.75) translate(-1500px,-40px);
    }
    80%{
    transform:scale(.75) translate(-150px,-40px);
    }
    100%{
        transform:scale(.75) translate(0px,00px);
        }
}
