@media only screen and (max-width: 600px) {
    @keyframes blob1{
        from{
        transform:scale(1) translate(0,50px);
        }
        
        to{
        transform:scale(.95) translate(320px,-30px);
        }
    }
    @keyframes blob2{
        from{
        transform:scale(1) translate(0,-50px);
        }
        
        to{
        transform:scale(.95) translate(320px,30px);
        }
    }
    
    
    /* key  frames for card2 */
    @keyframes blob3{
        0%{
            transform:scale(.95) translate(-150px,160px);
        }
        30%{
            transform:scale(.95) translate(5px,125px);
        }
        50%{
            transform:scale(.95) translate(5px,50px);
        }
        60%{
            transform:scale(.95) translate(5px,45px);
        }
        70%{
            transform:scale(.85) translate(50px,30px);
        }
        100%{
            transform:scale(.75) translate(200px,20px);
        } 
    }
    @keyframes blob4{
        0%{
        transform:scale(.95) translate(-150px,70px);
        }
        30%{
            transform:scale(.95) translate(5px,70px);
        }
        50%{
            transform:scale(.95) translate(5px,110px);
        }
        60%{
            transform:scale(.95) translate(5px,120px);
        }
        70%{
            transform:scale(.85) translate(50px,220px);
        }
        100%{
            transform:scale(.75) translate(200px,250px);
        }
    }
    @keyframes blob5{
        0%{
            transform:scale(.95) translate(-150px,-50px);
        }
        30%{
            transform:scale(.95) translate(5px,-90px);
        }
        50%{
            transform:scale(.95) translate(5px,-160px);
        }
        60%{
            transform:scale(.95) translate(5px,-130px);
        }
        70%{
            transform:scale(.85) translate(50px,-140px);
        }
        100%{
            transform:scale(.75) translate(200px,-120px);
        } 
    }
    @keyframes blob6{
        0%{
            transform:scale(.95) translate(-150px,-140px);
        }
        30%{
            transform:scale(.95) translate(5px,-140px);
        }
        50%{
            transform:scale(.95) translate(5px,-100px);
        }
        60%{
            transform:scale(.95) translate(5px,-100px);
        }
        70%{
            transform:scale(.85) translate(50px,-100px);
        }
        100%{
            transform:scale(.75) translate(200px,-125px);
        }
    }
    
    
    
    /* key frames for card 4 */
    @keyframes blob7{
        0%{
            transform:scale(.80) translate(-300px,0px);
        }
        80%{
        transform:scale(.75) translate(-90px,30px);
        }
        90%{
        transform:scale(.75) translate(10px,20px);
        }
        100%{
        transform:scale(.75) translate(0px,00px);
        }
    
    }
    @keyframes blob8{
        0%{
            transform:scale(.80) translate(-300px,0px);
        }
        80%{
        transform:scale(.75) translate(-90px,-10px);
        }
        90%{
        transform:scale(.75) translate(10px,-10px);
        }
        100%{
            transform:scale(.75) translate(0px,00px);
            }
        
    }
    @keyframes blob9{
        0%{
            transform:scale(.80) translate(-300px,10px);
        }
        80%{
        transform:scale(.75) translate(-90px,10px);
        }
        90%{
        transform:scale(.75) translate(10px,5px);
        }
        100%{
            transform:scale(.75) translate(0px,00px);
            }
        
    }
    @keyframes blob10{
        0%{
            transform:scale(.80) translate(-300px,-40px);
        }
        80%{
        transform:scale(.75) translate(-90px,-10px);
        }
        90%{
        transform:scale(.75) translate(10px,-5px);
        }
        100%{
            transform:scale(.75) translate(0px,00px);
            }
    }
}